@{
    ViewData["Title"] = "Product";
}
@* <h1>Products</h1> *@
@* Search *@
<div class="mt-1">
    <form id="searchForm" class="row">
        @* Search Name *@
        <div class="col">
            <label class="form-label">Name</label>
            <input class="form-control bg-dark text-light" type="text" placeholder="Search by name" id="search" />
        </div>
        @* Search Deleted *@
        <div class="col">
            <label class="form-label">Category</label>
            <select class="form-select bg-dark text-light" aria-label="Default select example" id="cat-select-search">
                <option selected value="">Not Specify Category (ค้นหาทุกประเภท)</option>
            </select>
        </div>
        @* Search Status *@
        <div class="col">
            <label class="form-label">Status</label>
            <select class="form-select bg-dark text-light" aria-label="Default select example" id="del-select">
                <option selected value="">All (ค้นหาเฉพาะทั้งหมด)</option>
                <option value="0">Normal (ค้นหาเฉพาะที่ปกติ)</option>
                <option value="1">Canceled (ค้นหาเฉพาะที่ถูกยกเลิก)</option>
            </select>
        </div>
        <div class="col d-flex justify-content-between align-items-end">
            <button class="btn btn-success">Search</button>
            <button type="submit" class="btn btn-primary" id="showAdd-btn">Create</button>
        </div>
    </form>
</div>
@* Table *@
<div class="table-responsive text-center" style="height: 38.6rem; overflow-y: scroll;">
    <table class="mt-2 table table-dark table-striped table-hover table-bordered">
    <thead class="sticky-top">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">CategoryId</th>
            <th scope="col">CategoryName</th>
            <th scope="col">Created by</th>
            <th scope="col">Created Time</th>
            <th scope="col">Updated by</th>
            <th scope="col">Updated Time</th>
            <th scope="col">Deleted</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody id="prodTableBody"></tbody>
</table>
</div>
@* Toasts Notifications *@
<div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toastNoti">
        <div class="toast-header">
            @* <img src="..." class="rounded me-2" alt="..."> *@
            <strong class="me-auto" id="toast-header"></strong>
            @* <small>11 mins ago</small> *@
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p id="toast-body"></p>
        </div>
    </div>
</div>
@* Add Modal *@
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form id="addProductForm">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">Add Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="bg-dark p-2" style="border-radius:10px;">
                        <div class="text-light">
                            <div class="row">
                                <input type="hidden" name="Id" id="edit-id" />
                                <div class="col-4">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" aria-label="Default select example" id="cat-select-add">
                                        <option selected value="">Select Category</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Name</label>
                                    <input class="form-control" type="text" name="add-name" placeholder="Enter name" />
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Quantity</label>
                                    <input class="form-control" type="number" name="add-quantity" placeholder="Enter quantity" />
                                </div>
                                <div class="col-4 mt-2">
                                    <label class="form-label">Price</label>
                                    <input class="form-control" type="text" name="add-price" placeholder="Enter Price" />
                                </div>
                                <div class="col-8 mt-2">
                                    <label class="form-label">Description</label>
                                    <input class="form-control" type="text" name="add-description" placeholder="Enter description" />
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="add-btn">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
@* Update Modal *@
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form id="updateProductForm">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">Update Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="bg-dark p-2" style="border-radius:10px;">
                        <div class="text-light">
                            <div class="row">
                                <input type="hidden" name="Id" id="edit-id" />
                                <div class="col-4">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" aria-label="Default select example" id="cat-select-update">
                                        <option selected value="">Select Category</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Name</label>
                                    <input class="form-control" type="text" name="update-name" placeholder="Enter name" />
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Quantity</label>
                                    <input class="form-control" type="number" name="update-quantity" placeholder="Enter quantity" />
                                </div>
                                <div class="col-4 mt-2">
                                    <label class="form-label">Price</label>
                                    <input class="form-control" type="text" name="update-price" placeholder="Enter Price" />
                                </div>
                                <div class="col-4 mt-2">
                                    <label class="form-label">Description</label>
                                    <input class="form-control" type="text" name="update-description" placeholder="Enter description" />
                                </div>
                                <div id="select-menu" class="col-4 mt-2">
                                    <label class="form-label">Deleted</label>
                                    <select class="form-select" name="Delete" aria-label="Default select example">
                                        <option selected value="">Delete select menu</option>
                                        <option value="0" class="text-success fw-bold">No</option>
                                        <option value="1" class="text-danger fw-bold">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" id="update-btn">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
@* Delete Modal *@
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product (ID: <sapn id="del-id"></sapn>)</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete <span id="del-name" class="fw-bold"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirm-delete-btn">Delete</button>
            </div>
        </div>
    </div>
</div>
@* Pagination *@
<div class="d-flex justify-content-between align-items-center mt-2">
    <div>Showing 1 to 7 of 7 entries</div>
    <div class="d-flex justify-content-end align-items-center gap-2">
        <select class="form-select" aria-label="Default select example" id="pageSize" style="width: auto;">
            <option selected value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0" id="pagination"></ul>
        </nav>
    </div>
</div>


@section Scripts {
    <script>
        let categoryOptions = [];
        let Products = [];
        const addModal = new bootstrap.Modal(document.getElementById('addModal'));
        const updateModal = new bootstrap.Modal(document.getElementById('updateModal'));
        const delModal = new bootstrap.Modal(document.getElementById('deleteModal'));

        // Get Category Options
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/Category/CatagoryOptions',
                success: (response) => {
                    categoryOptions = response;
                    // console.log(response);

                    categoryOptions.forEach(cat_ => {
                        $('#cat-select-search').append(`
                            <option class="cat-val" value="${cat_.id}">${cat_.name}</option>
                        `);
                        $('#cat-select-add').append(`
                            <option class="cat-val" value="${cat_.id}">${cat_.name}</option>
                        `);
                        $('#cat-select-update').append(`
                            <option class="cat-val" value="${cat_.id}">${cat_.name}</option>
                        `);
                    });
                },
                error: function (xhr, status, error) {
                    alert("Error occurred: " + xhr.responseText);
                }
            });
        });

        // Search
        $('#searchForm').on('submit', function (e) {
            e.preventDefault();

            const name = $('input#search').val();
            const delStatus = $('select#del-select').val();
            const categ = $('select#cat-select-search').val();

            if (name !== "") {
                $.ajax({
                    type: 'GET',
                    url: "/Product/Search",
                    data: { keyword: name, Delete: delStatus, Category: categ },
                    success: (response) => {
                    Products = response;

                    renderPage(1);
                },
                error: function (xhr, status, error) {
                    alert("Error occurred: " + xhr.responseText);
                }
                });
            } else
            {
               $('#catTableBody').empty(); // Clear Table
            }
        });

        // Show Add Modal
        $('#showAdd-btn').on('click', function (e) {
            addModal.show();
        });

        // Add
        $('#addProductForm').on('submit', function (e) {
            e.preventDefault();

            const cat_id = $('#cat-select-add').val();
            const name = $('input[name="add-name"]').val();
            const quantity = $('input[name="add-quantity"]').val();
            const price = $('input[name="add-price"]').val();
            const description = $('input[name="add-description"]').val();

            if (cat_id == "" )
            {
                showToastNotifications("Add Product","Please select category");
            }
            else if (name == "")
            {
                showToastNotifications("Add Product","Please enter name");
            }
            else if (quantity == 0)
            {
                showToastNotifications("Add Product","Please enter quantity");
            }
            else if (price == 0)
            {
                showToastNotifications("Add Product","Please enter price");
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/Product/Create',
                    data: {
                        CategoryId: cat_id,
                        Name: name,
                        Quantity: quantity,
                        Price: price,
                        Description: description
                    },
                    success: function (response) {
                        showToastNotifications("Add Product",response);
                        $('#prodTableBody').empty(); // Clear Table
                    },
                    error: function (xhr, status, error) {
                        alert("Error occurred: " + xhr.responseText);
                        showToastNotifications("Category",xhr.responseText);
                    }
                });
                $('#cat-select-add').val("");
                $('input[name="add-name"]').val(String.empty);
                $('input[name="add-quantity"]').val(String.empty);
                $('input[name="add-price"]').val(String.empty);
                $('input[name="add-description"]').val(String.empty);
                addModal.hide();
            }
        });

        // Show Update Modal
        $('#prodTableBody').on("click", ".edit-btn", function (e) {
            e.preventDefault();

            updateModal.show();

            const row = $(this).closest('tr');
            const id = row.find('th:eq(0)').text().trim();
            const name = row.find('td:eq(0)').text().trim();
            const quantity = row.find('td:eq(1)').text().trim();
            const price = row.find('td:eq(2)').text().trim();
            const desc = row.find('td:eq(3)').text().trim();
            const catId = row.find('td:eq(4)').text().trim();
            const del = row.find('td:eq(10) p').data('id');

            $('select#cat-select-update').val(catId);
            $('input[name="update-name"]').val(name);
            $('input[name=update-quantity]').val(quantity);
            $('input[name=update-price]').val(price);
            $('input[name="update-description"]').val(desc);
            $('input#edit-id').val(id);
            $('select[name=Delete]').val(del);
        });

        // Update
        $('#updateProductForm').on('submit', function (e) {
            e.preventDefault();

            const id = $('#edit-id').val(); // hidden id
            const cat_id = $('#cat-select-update').val();
            const name = $('input[name="update-name"]').val();
            const quantity = $('input[name="update-quantity"]').val();
            const price = $('input[name="update-price"]').val();
            const description = $('input[name="update-description"]').val();
            const deleteVal = $('select[name=Delete]').val();

            if (cat_id == "" )
            {
                showToastNotifications("Update Product","Please select category");
            }
            else if (name == "")
            {
                showToastNotifications("Update Product","Please enter name");
            }
            else if (quantity == 0)
            {
                showToastNotifications("Update Product","Please enter quantity");
            }
            else if (price == 0)
            {
                showToastNotifications("Update Product","Please enter price");
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/Product/Update',
                    data: {
                        Id: id,
                        CategoryId: cat_id,
                        Name: name,
                        Quantity: quantity,
                        Price: price,
                        Description: description,
                        Delete: deleteVal
                    },
                    success: function (response) {
                        showToastNotifications("Update Product",response);
                        $('#prodTableBody').empty(); // Clear Table
                    },
                    error: function (xhr, status, error) {
                        alert("Error occurred: " + xhr.responseText);
                        showToastNotifications("Category",xhr.responseText);
                    }
                });
                $('#cat-select-update').val("");
                $('input[name="update-name"]').val(String.empty);
                $('input[name="update-quantity"]').val(String.empty);
                $('input[name="update-price"]').val(String.empty);
                $('input[name="update-description"]').val(String.empty);
                updateModal.hide();
            }
        });

        // Show confirm delete modal
        $(document).on('click', '.delete-btn', function (e) {
            e.preventDefault();

            const row = $(this).closest('tr');
            const id = row.find('th:eq(0)').text().trim();
            const name = row.find('td:eq(0)').text().trim();

            $('#confirm-delete-btn').data('id', id);

            $('#del-id').text(id);
            $('#del-name').text(name);

            delModal.show();
        });

        // Confirm Delete
        $('#confirm-delete-btn').on("click", function () {
            const id = $(this).data('id');
            console.log(id);

            $.ajax({
                type:'GET',
                url : '/Product/Delete',
                data: {Id : id},
                success: function (response) {
                    showToastNotifications("Delete Product", response);
                    delModal.hide();
                    $('#prodTableBody').empty(); // Clear Table
                },
                error: function (xhr) {
                    showToastNotifications("Delete Error", xhr.responseText);
                }
            })
        });

        function showToastNotifications(header, body)
        {
            $('#toast-header').text(header);
            $('#toast-body').text(body);
            $('#toastNoti').toast('show');
        }

        function renderPage(page) {
            // Pagination
            const pageSize = $('select#pageSize').val();
            const totalPages = Math.ceil(Products.length / pageSize);
            const start = (page - 1) * pageSize;
            const end = parseInt(start) + parseInt(pageSize);
            const productsPaging = Products.slice(start, end);

            console.log(page, pageSize, totalPages, start, end, productsPaging);  

            $('#pagination').empty(); // Clear Pagination
                for (let i = 1; i <= totalPages; i++) {
                    $('#pagination').append(`
                        <li class="page-item"><a class="page-link page-btn" href="#">${i}</a></li>
                    `);
                }

            $('#prodTableBody').empty(); // Clear Table
            productsPaging.forEach(prod_ => {
                $('#prodTableBody').append(`
                    <tr>
                        <th scope="row" class="prodId">${prod_.id}</td>
                        <td class="prodName">${prod_.name}</td>
                        <td class="prodQuan">${prod_.quantity}</td>
                        <td class="prodPrice">${prod_.price}</td>
                        <td class="prodDesc">${prod_.description}</td>
                        <td class="catId text-center">${prod_.categoryId}</td>
                        <td class="catName">${prod_.categoryName}</td>
                        <td class="text-center">${prod_.createBy}</td>
                        <td>${prod_.createTime}</td>
                        <td class="text-center">${prod_.updateBy}</td>
                        <td>${prod_.updateTime}</td>
                        <td class="text-center">
                            <p data-id=${prod_.isDelete} class="fw-bold ${prod_.isDelete == 1 ? 'text-danger' : 'text-success'}">
                                ${prod_.isDelete == 1 ? 'Yes' : 'No'}
                            </p>
                        </td>
                        <td><button type="button" class="btn btn-warning edit-btn">Edit</button></td>
                        <td><button type="button" class="btn btn-danger delete-btn" data-id="${prod_.id}">Delete</button></td>
                    </tr>
                `);
            });
        }

        $(document).on('click', '.page-btn', function (e) {
            e.preventDefault();
            const page = parseInt($(this).text());
            renderPage(page);
        });
    </script>
}