@using Example_POS.DTOs.Category;
@* @model IEnumerable<CategoryDTO> *@
@{
    ViewData["Title"] = "Product";
    IEnumerable<CategoryOptions> cat = ViewBag.Category;
}

<h5>Add Product</h5>
<div class="bg-dark p-2" style="border-radius:10px;">
    <div class="row text-light">
        <div class="col">
            <label class="form-label">Category</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Category</option>
                @foreach (var category in cat)
                {
                    <option value="@category.Name">@category.Name</option>
                }
            </select>
        </div>
        <div class="col">
            <label class="form-label">Name</label>
            <input class="form-control" type="text" placeholder="Enter name" />
        </div>
        <div class="col-3">
            <label class="form-label">Description</label>
            <input class="form-control" type="number" placeholder="Enter description"/>
        </div>
        <div class="col">
            <label class="form-label">Quantity</label>
            <input class="form-control" type="number" placeholder="Enter quantity" />
        </div>
        <div class="col d-flex flex-column justify-content-end">
            <button class="btn btn-primary">Create Product</button>
        </div>
    </div>
</div>

<div class="mt-3">
    <label class="form-label">Search</label>
    <input class="form-control" type="text" placeholder="Search by Product name and description"/>
</div>

<h1 class="mt-3">Products</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Description</th>
            <th>CategoryId</th>
            <th>CategoryName</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-warning">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>